<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Cher(e) {{ uitilisateur.getNomComplet() }},</h1>

    <p>
        Nous avons reçu une demande de réinitialisation de mot de passe pour votre compte. Vous trouverez ci-dessous votre nouveau mot de passe temporaire. Nous vous recommandons de le changer dès que possible après vous être connecté(e) :
    </p>

    <strong>Nouveau Mot de Passe Temporaire :</strong>
    <p>{{ nouveauMotDePasse }}</p>

    <p>
        Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer ce message. Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter.
    </p>

    <p>Meilleures salutations,<br>
        L'équipe DevFinder
    </p>
</body>
</html>
